@page "{Id}"
@using InfiniteTextGame.Lib
@model ViewModel
@{
    ViewData["Title"] = Model.Story.Title;
}

<div class="card card-info card-outline">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-2 mb-2"><strong>AI模型</strong></div>
            <div class="col-sm-10 clearfix">
                <span class="badge badge-secondary rounded-pill">@Model.Story.Model</span>
                <span class="float-right">
                    <form asp-page-handler="RemoveStory" id="formRemoveStory">
                        <button class="btn btn-danger btn-xs">删除故事</button>
                    </form>
                </span>
            </div>
            <div class="col-sm-2"><strong>写作风格</strong></div>
            <div class="col-sm-10 pre-line text-muted small">@Model.Story.StylePrompt</div>
        </div>
    </div>
</div>

@for (var i = 0; i < Model.DefaultChapterChains.Count; i++)
{
    var chapter = Model.DefaultChapterChains[i];
    //判断当前是否是最新一章，用于生成新章节的控制按钮，并显示不同样式
    var isLastChapter = i == Model.DefaultChapterChains.Count - 1;

    <div class="card @(isLastChapter?"card-primary":"") card-outline mt-3" @(isLastChapter ? "id=lastChapter" : "")>
        <div class="card-header">
            <h5 class="card-title">@chapter.Title</h5>
            <span class="float-right small text-muted">@StringHelper.UTCDateTimeToLocaleString(chapter.CreateTime)</span>
        </div>
        <div class="card-body">
            @if (!string.IsNullOrEmpty(chapter.PreviousSummary))
            {
                <p>
                    <a class="text-dark" data-toggle="collapse" href="#previousSummary-@(chapter.Id)">
                        前情提要 <i class="fa-solid fa-angle-down"></i>
                    </a>
                </p>
                <div class="collapse text-muted text-sm" id="previousSummary-@(chapter.Id)">
                    @chapter.PreviousSummary
                </div>
                <hr />
            }
            <p class="card-text pre-line">@chapter.Content</p>
            @if (isLastChapter)
            {
                <form asp-page-handler="GenerateNextChapter"></form>
                @foreach (var option in chapter.Options)
                {
                    <p class="card-text">
                        <button class="btn btn-outline-primary btn-option" order="@option.Order"
                                title="正面程度@(option.PositivityScore), 影响规模@(option.ImpactScore), 复杂程度@(option.ComplexityScore)">
                            <i class="@option.PositivityIcon"></i>
                            <i class="fa-fw @option.ImpactIcon"></i>
                            <i class="@option.ComplexityIcon"></i>
                            <span class="ml-1">@option.Name</span>
                        </button>
                        <span class="text-secondary">@option.Description</span>
                    </p>
                }
            }
            else
            {
                @foreach (var option in chapter.Options)
                {
                    //判断是否被选中分支并突出显示
                    var isCurrentOrder = chapter.DefaultNextChapter?.PreviousOptionOrder == option.Order;

                    <p class="card-text">
                        <button class="btn @(isCurrentOrder?"btn-secondary":"btn-outline-secondary")"
                                title="正面程度@(option.PositivityScore), 影响规模@(option.ImpactScore), 复杂程度@(option.ComplexityScore)">
                            <i class="@option.PositivityIcon"></i>
                            <i class="fa-fw @option.ImpactIcon"></i>
                            <i class="@option.ComplexityIcon"></i>
                            <span class="ml-1">@option.Name</span>
                        </button>
                        <span class="@(isCurrentOrder?"text-dark":"text-muted")">@option.Description</span>
                    </p>
                }
            }
        </div>
        <div class="card-footer small text-muted">
            <span>@(chapter.PromptTokens) + @(chapter.CompletionTokens) = @(chapter.TotalTokens) tokens, generated in @(chapter.UseTime) ms</span>
        </div>
    </div>
}

@section CSS {
    <link rel="stylesheet" href="~/lib/toastr/toastr.min.css">
}

@section Scripts {
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".btn-option").on("click", function (e) {
                var that = this;
                $(".btn-option").prop("disabled", true);
                buttonAddLoading(this);
                $.ajax({
                    type: "POST",
                    url: "@(Model.Story.Id)?handler=GenerateNextChapter",
                    data: {
                        Order: $(this).attr("order")
                    },
                    headers: {
                        "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                    }
                })
                    .done(function (data) {
                        location.reload();
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        $(".btn-option").prop("disabled", false);
                        buttonRemoveLoading(that);
                        toastr["error"]("生成失败，请重试");
                        console.error("generate next chapter error:", jqXHR.status, jqXHR.statusText);
                    })
                    .always(function () {
                    });
            });

            $("#formRemoveStory").on("submit", function (e) {
                e.preventDefault();
                var thisForm = this;
                showConfirmBox("确定要删除故事【@Html.Raw(Model.Story.Title)】吗？", function () {
                    thisForm.submit();
                });
            });

            enableBackToTopButton();

            setTimeout(function () {
                var scrollOffset = $("#lastChapter").offset().top - 10;
                $("html, body").scrollTop(scrollOffset);
            }, 50);
        });
    </script>
}
