@page "{Id}"
@using InfiniteTextGame.Lib
@model ViewModel
@{
    ViewData["Title"] = Model.Story.Title;
    //判断是否正在自动编写
    var isAutoWrite = Enum.IsDefined<WriterSpecific>(Model.AutoWriterSpecific) && Model.RemainAutoWriteCount > 0;
}

<div class="card card-info card-outline">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-2 mb-2"><strong>AI模型</strong></div>
            <div class="col-sm-10 clearfix">
                <span class="badge badge-secondary rounded-pill">@Model.Story.Model</span>
                <span class="float-right">
                    <form asp-page-handler="RemoveStory" id="formRemoveStory">
                        <button class="btn btn-danger btn-xs">删除故事</button>
                    </form>
                </span>
            </div>
            <div class="col-sm-2"><strong>写作风格</strong></div>
            <div class="col-sm-10 pre-line text-muted small">@Model.Story.StylePrompt</div>
        </div>
    </div>
</div>

@for (var i = 0; i < Model.DefaultChapterChains.Count; i++)
{
    var chapter = Model.DefaultChapterChains[i];
    //判断当前是否是最新一章，用于生成新章节的控制按钮，并显示不同样式
    var isLastChapter = i == Model.DefaultChapterChains.Count - 1;

    <div class="card @(isLastChapter?"card-primary":"") card-outline mt-3" @(isLastChapter ? "id=lastChapter" : "")>
        <div class="card-header">
            <h5 class="card-title">@(i+1). @chapter.Title</h5>
            <span class="float-right small text-muted">@StringHelper.UTCDateTimeToLocaleString(chapter.CreateTime)</span>
        </div>
        <div class="card-body">
            @if (!string.IsNullOrEmpty(chapter.PreviousSummary))
            {
                <p>
                    <a class="text-dark" data-toggle="collapse" href="#previousSummary-@(chapter.Id)">
                        前情提要 <i class="fa-solid fa-angle-down"></i>
                    </a>
                </p>
                <div class="collapse text-muted text-sm" id="previousSummary-@(chapter.Id)">
                    @chapter.PreviousSummary
                </div>
                <hr />
            }
            <p class="card-text pre-line">@chapter.Content</p>
            <hr />
            @if (isLastChapter)
            {
                //如果是自动编写状态则显示剩余次数
                @if (isAutoWrite)
                {
                    <div class="mb-2">
                        <span class="spinner-border spinner-border-sm"></span>
                        <span>正在由<strong>@Model.AutoWriterSpecific.GetDescription()</strong>自动选择并编写下面<strong>@Model.RemainAutoWriteCount</strong>个章节。</span>
                    </div>
                }
                else
                {
                    <h5>请选择接下来的剧情发展：</h5>
                }
                @foreach (var option in chapter.Options)
                {
                    <p class="card-text">
                        <button class="btn btn-outline-primary control-active btn-option" order="@option.Order"
                                title="正面程度@(option.PositivityScore), 影响规模@(option.ImpactScore), 复杂程度@(option.ComplexityScore)">
                            <i class="@option.PositivityIcon"></i>
                            <i class="fa-fw @option.ImpactIcon"></i>
                            <i class="@option.ComplexityIcon"></i>
                            <span class="ml-1">@option.Name</span>
                        </button>
                        <span class="text-secondary">@option.Description</span>
                    </p>
                }
                <hr />
                @if (!isAutoWrite)
                {
                    <h5>或者选择不同性格的作者为你继续编写：</h5>
                    <div class="d-flex flex-wrap">
                        <div class="mx-1 my-2">
                            <select id="specific" class="form-control control-active">
                                <option selected disabled>请选择作者性格</option>
                                @{
                                    var specifics = Enum.GetValues<WriterSpecific>();
                                    foreach (var specific in specifics)
                                    {
                                        <option value="@((int)specific)">@specific.GetDescription()</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="mx-1 my-2">
                            <button class="btn btn-outline-info control-active btn-autowrite" count="5">
                                自动编写5章 <i class="fas fa-angle-right"></i>
                            </button>
                            <button class="btn btn-outline-info control-active btn-autowrite" count="10">
                                自动编写10章 <i class="fas fa-angles-right"></i>
                            </button>
                        </div>
                    </div>
                }
            }
            else
            {
                @foreach (var option in chapter.Options)
                {
                    //判断是否被选中分支并突出显示
                    var isCurrentOrder = chapter.DefaultNextChapter?.PreviousOptionOrder == option.Order;

                    <p class="card-text">
                        <button class="btn @(isCurrentOrder?"btn-secondary":"btn-outline-secondary")" disabled
                                title="正面程度@(option.PositivityScore), 影响规模@(option.ImpactScore), 复杂程度@(option.ComplexityScore)">
                            <i class="@option.PositivityIcon"></i>
                            <i class="fa-fw @option.ImpactIcon"></i>
                            <i class="@option.ComplexityIcon"></i>
                            <span class="ml-1">@option.Name</span>
                        </button>
                        <span class="@(isCurrentOrder?"text-dark":"text-muted")">
                            @if (isCurrentOrder && chapter.DefaultNextChapter?.Specific > 0)
                            {
                                <span class="mx-2">（由<strong>@(((WriterSpecific)chapter.DefaultNextChapter.Specific).GetDescription())</strong>自动选择）</span>
                            }
                            @option.Description
                        </span>
                    </p>
                }
            }
        </div>
        <div class="card-footer small text-muted">
            <span>@(chapter.PromptTokens) + @(chapter.CompletionTokens) = @(chapter.TotalTokens) tokens, generated in @(chapter.UseTime) ms</span>
        </div>
    </div>
}

@* 添加一个form，用于生成__RequestVerificationToken *@
<form method="post"></form>

@section CSS {
    <link rel="stylesheet" href="~/lib/toastr/toastr.min.css">
}

@section Scripts {
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".btn-option").on("click", function (e) {
                var that = this;
                $(".control-active").prop("disabled", true);
                buttonAddLoading(this);
                $.ajax({
                    type: "POST",
                    url: "@(Model.Story.Id)?handler=GenerateNextChapter",
                    data: {
                        order: $(this).attr("order")
                    },
                    headers: {
                        "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                    }
                })
                    .done(function (data) {
                        location.reload();
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        $(".control-active").prop("disabled", false);
                        buttonRemoveLoading(that);
                        toastr["error"]("编写出错，请重试");
                        console.error("generate next chapter error:", jqXHR.status, jqXHR.statusText);
                    })
                    .always(function () {
                    });
            });

            $("#formRemoveStory").on("submit", function (e) {
                e.preventDefault();
                var thisForm = this;
                showConfirmBox("确定要删除故事【@Html.Raw(Model.Story.Title)】吗？", function () {
                    thisForm.submit();
                });
            });

            enableBackToTopButton();

            //加载后滚动到最新章节
            setTimeout(function () {
                var scrollOffset = $("#lastChapter").offset().top - 10;
                $("html, body").scrollTop(scrollOffset);

                @if (isAutoWrite)
                {
                    <text>
                        //自动写作模式下此时开始写作
                        let specific = @((int)Model.AutoWriterSpecific);
                        let count = @Model.RemainAutoWriteCount;
                        AutoWrite(specific, count);
                    </text>
                }
            }, 50);

            //自动写作
            $(".btn-autowrite").on("click", function (e) {
                var specific = $("#specific").val();
                if (!specific) return;
                var count = $(this).attr("count");

                AutoWrite(specific, count, this);
            });
        });

        //自动写作（可手动控制或自动进行）
        function AutoWrite(specific, count, eventItem) {
            $(".control-active").prop("disabled", true);
            if (eventItem) buttonAddLoading(eventItem);
            $.ajax({
                type: "POST",
                url: "@(Model.Story.Id)?handler=AutoWrite",
                data: {
                    specific: specific,
                    count: count
                },
                headers: {
                    "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
            })
                .done(function (data) {
                    location.reload();
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    toastr["error"]("自动编写出错，正在重试");
                    console.error("auto write next chapter error and retry:", jqXHR.status, jqXHR.statusText);
                    //失败后反复重试
                    AutoWrite(specific, count, eventItem);
                })
                .always(function () {
                });
        }
    </script>
}
